/* Преимущества */
.advantages-list {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.advantages-list__item {
  // flex-basis: calc(100% / 4 - 30px);
  // margin-left: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 30px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.icon-container {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-main-color);
}

.advantages {
  padding-bottom: 47px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
.advantages-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
