/* Costumers
 */
.costumers__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.costumers__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.costumers__item {
  display: block;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.costumers__link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 31px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.costumers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .costumers__link:hover &,
  .costumers__link:focus & {
    fill: var(--accent-color);
  }
}
