/* OUR TEAM */

.team {
  background-color: var(--secondary-main-color);
}
.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.team-list {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  // flex-basis: calc(100% / 4 - 30px);
  // margin-left: 30px;
  max-width: 455px;
  min-height: 622px;
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    min-width: 354px;
    min-height: 536px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0px;
    min-width: 270px;
    min-height: 420px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.worker-info {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.worker-info__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.worker-info__position {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
