/* Global */
body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.link {
  text-decoration: none;
  color: var(--title-text-color);
}
.list-style {
  list-style-type: none;
}
