/* колір основного тексту #757575 */
/* другорядний колір тексту #212121 */
/* колір фону #FFFFFF */
/* другорядний колір фону #F5F4FA */
/* колір акценту #2196F3; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #fff;
  --secondary-main-color: #f5f4fa;
}
